
body {
	background: url(../images/background.jpg) repeat;
	color: #fff;
	padding: 0;
	margin: 0;
	min-height: 100%;
	font-family: arial, sans-serif;
	font-size: 13px;
	letter-spacing: 0.03em;
	line-height: 1.4em;
}
.page {
	min-height: 100%;
	width: 900px;
	position: relative;
}

a:visited,
a:link {
	color: #b1d24d;
}

h1, h2, h3, h4, h5 {
	color: #b1d24d;
}

h1 {
	font-weight: normal;
	margin: 0px 0px 20px 0px;
}

.page-content {
	position: relative;
	left: 200px;
	width: 600px;
	padding: 10px 20px 40px 50px;
}

.header {
	height: 130px;
}
.logo {
	background: url(../images/logo.png) no-repeat;
	width: 470px;
	height: 110px;
	position: absolute;
	top: 20px;
	left: 40px;
}


.sidebar {
	background: url(../images/background.jpg) top right repeat-y;
	min-height: 100%;
	width: 200px;
	position: fixed;
	top: 0;
	left: 0;
}

.navigation {
	background: url(../images/aside-background.png) top right repeat-y;
	min-height: 100%;
	width: 200px;
	position: fixed;
	top: 0;
	left: 0;
}

.navigation ul {
	text-align: right;
	position: absolute;
	top: 130px;
	right: 30px;
	width: 180px;
	list-style: none;
	font-size: 1.2em;
}

.navigation ul li {
	margin-bottom: 10px;
	list-style: none;
}

.navigation ul li a:link,
.navigation ul li a:visited {
	text-decoration: none;
}


.sample-output {
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 10px 20px;
	margin: 10px 0;
	background: #000;
}

.sample-code {
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 10px 20px;
	margin: 10px 0;
	background: #000;
	white-space: pre;
	font-family: "Courier New";
}
